@font-face{
	font-family: 'Vulpes';
	src: url(../fonts/Vulpes.ttf);
}

@font-face{
	font-family: 'coolvetica';
	src: url(../fonts/coolvetica rg.ttf);
}


html{
	height: 100%;
	background-image: linear-gradient(45deg, #DAE2F8 0%,#D6A4A4 100%);
}
 
#titre{
	text-transform:lowercase;
	font-family: 'coolvetica';
	text-align: center;
	font-size: 50px;
	margin-top: 20%;
	margin-bottom: 50px;
}

#menu{
	font-family: 'Vulpes';
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

#instagram{
	margin-left: auto;
	margin-right: auto;
}

.link a {
	text-decoration: none;
	color: #000000;
	line-height: 18px;
	transition: ease-in-out 0.15s;
}

.link a:hover { 
	color: antiquewhite;
}